@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Simple Expression Evaluator</h4>
<p>Validates and evaluates arithmetic expressions of the form:
    <br/>(5 + 5) * (3 + 2) - 1
    <br/>Supports:
    <ul>
        <li>Integers only</li>
        <li>Operators: * + - () and unary minus</li>
        <li>Nested parentheses</li>
    </ul>
</p>
