@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5 Church Steps<br />
    Woobury, Devon EX5 1HW<br/>
    United Kingdom<br/>
    <abbr title="Phone">P:</abbr>
    +44 (0)7496 300352 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:robtwinston@gmail.com">robtwinston@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:robtwinston@gmail.com">robtwinston@gmail.com</a>
</address>