@{
 ViewBag.Title = "Thom's Challenge Demo Application";
}  
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>UNDER CONSTRUCTION - Not Functional</h3>

<form id="evaluate">
    <fieldset>
    <legend>Expression Input</legend>
    <div>
        <label>
            Expression
            <input id="expression" name="expression" type="text" placeholder="(a+b)*((c+d)-(-e*f))" required autofocus>
        </label>
    </div>
    </fieldset>
 </form>

